{
    # Redis host
    # Used to store application state and track data
    redis_host => 'localhost:6379',

    # Optional authentication using Mojolicious::Plugin::Web::Auth
    # This isn't used as a permission system, rather as additional information
    # on who is listening, who added tracks to the playlist etc

    auth => {

        # Enable user tracking?
        enabled => 0,

        # These are passed directly through to Web::Auth
        # See https://github.com/hayajo/Mojolicious-Plugin-Web-Auth for documentation
        module => '',
        key => '',
        secret => ''
    }
}
